<header class="bg-black">
    <div class="flex flex-row justify-between items-center top-floor h-20 border-b-2 bg-opacity-70">
        <ul class="flex flex-row justify-between text-lg ml-10 w-1/5 text-red-50 text-base">
            <li class="transform transition duration-300 hover:scale-110"><a href="{{ link_info }}">{{ text_info }}</a></li>
            <li class="transform transition duration-300 hover:scale-110"><a href="{{ link_order }}">{{ text_order }}</a></li>
            <li class="transform transition duration-300 hover:scale-110"><a href="{{ link_basket }}">{{ text_basket }}</a></li>
        </ul>
        <div class="text-red-50 text-5xl">
            {{ store_title }}
        </div>
        <ul class="flex flex-row justify-between text-lg mr-10 w-1/5 text-red-50">
            <li class="transform transition duration-300 hover:scale-110"><a href="{{ link_search }}">{{ text_search }}</a></li>
            <li class="transform transition duration-300 hover:scale-110">
                <a href="{{ link_basket }}">
                    <img class="object-contain h-6 w-6" src="{{ link_img_basket }}" alt="{{ alt_text_basket }}">
                </a>
            </li>
            <li class="transform transition duration-300 hover:scale-110">
                <a href="{{ link_cabinet }}">
                    <img class="object-contain h-6 w-6" src="{{ link_img_cabinet }}" alt="{{ alt_text_cabinet }}">
                </a>
            </li>
        </ul>
    </div>
    <div class="container mx-auto">
        <div class="h-16 flex items-center">
            <ul class="flex flex-row justify-between ml-96 mr-96 w-full text-white">
                {% for category in categories %}
                    <li class="text-2xl">{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
